
body {
background-color: lightgoldenrodyellow ;
}

.button1 {
    background-color: yellow;
    font-size: 1.5em;
    border-radius: 12px;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 20px 44px;
}

.button2 {
    background-color: lightgreen;
    font-size: 1.5em;
    border-radius: 12px;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 20px 44px;
}